version: '2.8'

services:
  postgres-container:
    image: postgres:15.15-trixie
    container_name: postgres-container
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 30s
      timeout: 30s
      retries: 5

  data-ingestion-continer:
    build: data_ingestion/.
    container_name: data-ingestion-container
    depends_on:
      postgres-container:
        condition: service_healthy